<!DOCTYPE html>
<html>
    <head>
        <title>WEB-Movies</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>다음 인기 영화 목록 추출</h1>

        <table border='1'>
            <caption>다음 인기 영화 목록 추출</caption>
            <tr>
                <th>날짜</th>
                <th>제목</th>
                <th>평점</th>
                <th>관객수</th>
                <th>개봉일</th>
            </tr>
            {% for m in movies %}
            <tr>
                <td>{{ m['날짜'] }}</td>
                <td>{{ m['제목'] }}</td>
                <td>{{ m['평점'] }}</td>
                <td>{{ m['관객수'] }}</td>
                <td>{{ m['개봉일'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>